<footer>
  <div class="footerRow">
    <div class="col findHouse">
      <div class="headerRow">
        <img
          src="../../assets/Imges/Footer/FooterIcons/logo-footer.svg"
          alt=""
        />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, officiis!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, officiis!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, officiis!
      </p>
      <div class="row">
        <img
          src="../../assets/Imges/Footer/FooterIcons/Location.svg"
          alt=" Location Icon"
        />
        <span>95 South Park Avenue, USA</span>
      </div>
      <div class="row">
        <img
          src="../../assets/Imges/Footer/FooterIcons/telephone-fill.svg"
          alt="telephone Icon"
        />
        <span>+456 875 369 208</span>
      </div>
      <div class="row">
        <img
          src="../../assets/Imges/Footer/FooterIcons/envelope-fill.svg"
          alt="envelope Icon"
        />
        <span>support&#64;findhouses.com</span>
      </div>
    </div>
    <div class="col Navigation">
      <h3>Navigation</h3>
      <div class="NParent">
        <div class="NRow"><li><a>Home one</a></li>  <li><a>Agents Details</a></li></div>
        <div class="NRow"><li><a>Home one</a></li>  <li><a>Agents Details</a></li></div>
        <div class="NRow"><li><a>Home one</a></li>  <li><a>Agents Details</a></li></div>
        <div class="NRow"><li><a>Home one</a></li>  <li><a>Agents Details</a></li></div>
        <div class="NRow"><li><a>Home one</a></li>  <li><a>Agents Details</a></li></div>
      </div>
    </div>
    <div class="col TwitterFeeds">
      <h3>Twitter Feeds</h3>
      <div class="TRow">
        <img src="../../assets/Imges/Footer/FooterIcons/twitter.svg" alt="" />
        <div class="text">
         <p>   <a>&#64;findhouses</a>
         all share them with me baby said inspet.</p>
 <a class="time">about 5 days ago</a>
        </div>
       
      </div>
      <div class="TRow">
        <img src="../../assets/Imges/Footer/FooterIcons/twitter.svg" alt="" />
        <div class="text">
         <p>   <a>&#64;findhouses</a>
         all share them with me baby said inspet.</p>
 <a class="time">about 5 days ago</a>
        </div>
       
      </div>
      <div class="TRow">
        <img src="../../assets/Imges/Footer/FooterIcons/twitter.svg" alt="" />
        <div class="text">
         <p>   <a>&#64;findhouses</a>
         all share them with me baby said inspet.</p>
 <a class="time">about 5 days ago</a>
        </div>
       
      </div>
      
    </div>
    <div class="col Newsletters">
      <h3>Newsletters</h3>
      <p>Sign Up for Our Newsletter to get Latest Updates and Offers. Subscribe to receive news in your inbox.</p>
      <form action=""><input type="email" placeholder="Enter Your Email"> <button type="submit">SUBSCRIBE</button></form>
    </div>
  </div>  

  <div class="bottomPart">

    <p>2021 © Copyright - All Rights Reserved.</p> <div class="icons"><button class="fb"><img src="../../assets/Imges/Footer/FooterIcons/facebook-svgrepo-com.svg" alt="Icon"></button>
       <button class="tw"><img src="../../assets/Imges/Footer/FooterIcons/twitterBlack.svg" alt="Icon"></button>
        <button class="IN" ><img src="../../assets/Imges/Footer/FooterIcons/instagram.svg" alt="Icon"></button> 
        <button class="yt"><img src="../../assets/Imges/Footer/FooterIcons/youtube-svgrepo-com.svg" alt="Icon"></button> </div>
  </div>
  
</footer>
