
@media screen and (max-width:750px){
    .advancedOpened{
      width: 99%;
      left: 3px;
      font-size: 13px;
      padding: 13px 10px;
    .mainFilter{
      padding: 40px 10px;
      gap: 15px;
      .rightChacks{
        .row{
          gap: 4px;
          align-items: center;
          label{
            font-size: 12px;
          }
          input[type="checkbox"] {
            width: 14px !important;
            height: 14px !important;
          }
        }
      }
    }
    }
    
  }
  @media screen and (max-width:500px){
    .advancedOpened{
      width: 99.5%;
      left: 2px;
      font-size: 12px;
      padding: 11px 5px;
    .mainFilter{
      padding: 30px 6px;
      gap: 12px;
      .rightChacks{
        .row{
          gap: 3px;
  
          label{
            font-size: 9px;
          }
          input[type="checkbox"] {
            width: 10px !important;
            height: 10px !important;
          }
        }
      }
      .leftRange{
        .wrapper{
          width: 95%;
        }
      }
    }
    }
    
  }