<main>
    <h3>Personal Information</h3>

    <form action="">
        
        <div class="col" *ngFor="let el of inputText">
            <label for="{{el.label}}">{{el.label}}</label>
            <input type="{{el.type}}" id="{{el.label}}" placeholder="{{el.placeholder}}">
        </div>
      
   
        <div class="col-100" *ngFor="let info of textArea">
            <label for="{{info.label}}">{{info.label}}</label>
            <textarea id="{{info.label}}" placeholder="{{info.placeholder}}"></textarea>
        </div>
    <span class="update"> Update Your Password</span>

      
    <div class="col" *ngFor="let el of changePassword">
        <label for="{{el.label}}">{{el.label}}</label>
        <input type="{{el.type}}" id="{{el.label}}" placeholder="{{el.placeholder}}">
    </div>
  <button type="submit">Submit</button>
    </form>
</main>
