<main>
    <h3>{{staticElements.Header}}</h3>

    <form >
        
        <div class="col" *ngFor="let el of inputText">
            <label for="{{el.label}}">{{el.label}}</label>
            <input type="{{el.type}}" id="{{el.label}}" placeholder="{{el.placeholder}}">
        </div>
      
   
        <div class="col-100" *ngFor="let info of textArea">
            <label for="{{info.label}}">{{info.label}}</label>
            <textarea id="{{info.label}}" placeholder="{{info.placeholder}}"></textarea>
        </div>

        
  
  <button type="submit">{{staticElements.submit}}</button>
    </form>


</main>
