<div class="body">

    <form action="">
        <h3>change Password</h3>
        <div class="inputRow">
            <label for="current">Current password</label>
            <input type="text" id="current" placeholder="Current password">
        </div>
        <div class="inputRow">
            <label for="password">New password</label>
            <input type="text" id="password" placeholder="New password">
        </div>
        <div class="inputRow">
            <label for="Confirm">Confirm Your password</label>
            <input type="text" id="Confirm" placeholder="Confirm Your Password">
        </div>
        <button type="submit">Send Changes </button>
    </form>
</div>
