<div class="body">

    <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
        <h3>change Password</h3>
        <div class="inputRow">
            <label for="current">Current password</label>
            <input type="password" id="current" placeholder="Current password" formControlName="dzveli_paroli">
        </div>
        <div class="inputRow">
            <label for="password">New password</label>
            <input type="password" id="password" placeholder="New password" formControlName="axali_paroli">
        </div>
        <div class="inputRow">
            <label for="Confirm">Confirm Your password</label>
            <input type="password" id="Confirm" placeholder="Confirm Your Password" formControlName="axali_paroli_1">
        </div>
        <button type="submit">Send Changes </button>
    </form>
</div>
