<app-nav></app-nav>
<header>
  <h2>About Our Company </h2>
  <h4>Home / About Us</h4>
</header>
<main>
  <div class="leftside">
    <h3><span>About</span> Find Houses </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id voluptatibus incidunt cum? Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus odio rerum aperiam ratione, sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id voluptatibus incidunt cum? Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus odio rerum aperiam ratione, sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.</p>
    <div class="row">
      <button> Read More </button>
    <img src="../../assets/Imges/StaticImg/StaticIcons/signature.png" alt="signature">
    </div>
  </div>
  <div class="video-container">

    <div *ngIf="showCover" class="video-cover">
      <img src="../../assets/Imges/StaticImg/bg-video.jpg" alt="Video Cover" />
      <button class="play-button" (click)="playVideo()">
        ▶
      </button>
    </div>


    <video #videoPlayer controls muted (pause)="playVideo()">
      <source src="../../../assets/Video/VID_20220810_175242.mp4" type="video/mp4">

      Your browser does not support the video tag.
    </video>
  </div>
</main>