
<h2>{{reviewAd.header}}</h2>
<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
<div class="firstRow">
    <div class="col"><p>{{reviewAd.p}}</p> 
        <div class="starPlace">
           <span *ngFor="let el of starRating "
            [ngClass]="{'empty':el.filled ,'filled':!el.filled}" 
            (click)="rater(el.id)"></span>
      
        </div> 
    
    </div>
<!-- <input type="file" id="File" placeholder="Upload Photos" class="DN">
<label for="File" class="FileInp"> Upload Photos</label> -->
</div>
<!-- <input type="text" placeholder="First Name" formControlName="saxeli">
<input type="text" placeholder=" Last Name" formControlName="gvari"> -->
<!-- <input type="email" placeholder="Email" formControlName="maili">  -->
<textarea class="resizable-textarea" name="Description" id="Desc" placeholder="{{reviewAd.placeholderN}}" type="text" formControlName="message"></textarea>
<button type="submit" [disabled]="reviewForm.invalid" >{{reviewAd.submit}}</button>

</form>

