

<nav [ngClass]="{'nav':scrollY>100 || showNav===true }">
  
    <ul class="FirstUl">  
        <img class="icon" routerLink="/" [src]="LogoLink" alt="Logo">
        <li><p>{{staticElements.Home}}  </p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow">
            <div class="menuBar">
                <div class="mainPart">
                <div class="row" *ngFor="let i of this.NavElements.Home"><a  href="">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="">
                    <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                        <div class="aContainer" *ngFor="let subElement of i.subText">
                            <a href="" >{{subElement}}</a> </div>
                        </div>
                    </div>
            
                </div>
                </div>
            </div>
        </li>
        <li><p>{{staticElements.Listing}}</p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow"> 
            <div class="menuBar">
                <div class="mainPart">
                <div class="row" *ngFor="let i of this.NavElements.Listing"><a href="">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="">
                    <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                        <div class="aContainer" *ngFor="let subElement of i.subText">
                            <a href="" >{{subElement}}</a> </div>
                        </div>
                    </div>
            </div>
                
                </div>
           
            </div>
            
        </li>
        <li routerLink="/allCards"><p>{{staticElements.Property}}</p><img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow">
            <div class="menuBar">
                <div class="mainPart">
        <div class="row" *ngFor="let i of this.NavElements.Property"><a href="">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="">  
            <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                <div class="aContainer" *ngFor="let subElement of i.subText">
                    <a href="" >{{subElement}}</a> </div>
                </div>
            </div>
    </div>
                </div>
            </div>
        </li>
        <li><p>{{staticElements.Pages}}</p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow">
            <div class="menuBar">
                <div class="mainPart">
                <div class="row" *ngFor="let i of this.NavElements.Pages"><a href="">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="">
                    <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                        <div class="aContainer" *ngFor="let subElement of i.subText">
                            <a href="" >{{subElement}}</a> </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </li>
        <li><p>{{staticElements.Blog}}</p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow">
            <div class="menuBar">
                <div class="mainPart">
                <div class="row" *ngFor="let i of this.NavElements.Blog"><a href="">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="">
                    <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                        <div class="aContainer" *ngFor="let subElement of i.subText">
                            <a href="" >{{subElement}}</a> </div>
                        </div>
                    </div>
                </div>
                </div>
            </div></li>
        <li class="contact"><p>{{staticElements.Contact}}</p></li>
    
    </ul>
    <ul>
        <li class="row"> <div class="onClick" (click)="displayLanguages()"><img src="{{GlobeLink}}" alt="">
            <p>{{chosenLang}}</p> 
            <img class="bottomArrow" src="../../assets/Imges/NavImg/arrow-bottom-4.png" alt="">
        </div>
        <div class="subMenu" [ngClass]="{'DNone':showLanguages==false}">
            <a *ngFor="let lang of navLang let i=index" (click)="chosenLanguage(i)">{{lang}}</a>
        </div>
        
         </li>
        <li class="borders"  [ngClass]="{'DNone':IsSignedIn.signed==true}" (click)=" showRegistrForm()" ><p>{{staticElements.SignIn}}</p></li>
        <li class="RightRow" (click)="displayEl()" [ngClass]="{'DNone':IsSignedIn.signed==false}"><div class="circle"><img src="{{IsSignedIn.imgLink}}" alt="Profile img"><div class="activebtn"></div></div> <p>Hi {{IsSignedIn.Name}}</p> <img class="bottomArrow" src="../../assets/Imges/NavImg/arrow-bottom-4.png" alt="Arrow Icon"> </li>
        <div class="SubNav" [ngClass]="{DNone: displayElement==false}"><a *ngFor="let el of ProfileSettings" href="">{{el.Text}}</a></div>
        <li><button class="listing"   routerLink="/Listing" [ngClass]="{'DNone':IsSignedIn.signed==false}"><h4>{{staticElements.AddListing}}</h4> <img src="../../assets/Imges/NavImg/Screenshot 2024-08-20 192117.png" alt=""></button></li>
        <li><button class="listing"   (click)=" showRegistrForm()"   [ngClass]="{'DNone':IsSignedIn.signed==true}"><h4>{{staticElements.AddListing}}</h4> <img src="../../assets/Imges/NavImg/Screenshot 2024-08-20 192117.png" alt=""></button></li>
    </ul>
 
</nav>
<div class="opacityN" href="#"  [ngClass]="{'UpButton':scrollY>20}" (click)="scrollToTop()">
    <img src="../../assets/Imges/NavImg/chevron-double-up.svg" alt="">
  </div>
<app-registration/>