
<nav>
  
    <ul class="FirstUl">  
        <img class="icon" src="../../assets/Imges/NavImg/NavIcon1.svg" alt="Logo">
        <li><p>Home</p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow"></li>
        <li><p>Listing</p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow"></li>
        <li><p>Property</p><img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow"></li>
        <li><p>Pages</p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow"></li>
        <li><p>Blog</p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow"> </li>
        <li class="contact"><p>Contact</p></li>
    
    </ul>
    <ul>
        <li class="row"><img src="../../assets/Imges/NavImg/thirdImg.png" alt=""> <p>ENG</p> <img class="bottomArrow" src="../../assets/Imges/NavImg/arrow-bottom-4.png" alt=""></li>
        <li class="borders"><p>Sign In</p></li>
        <li class="RightRow"><div class="circle"><img src="../../assets/Imges/NavImg/profileImg.jpg" alt=""><div class="activebtn"></div></div> <p>Hi, Mary!</p> <img class="bottomArrow" src="../../assets/Imges/NavImg/arrow-bottom-4.png" alt=""> </li>
        <li><button class="listing"><h4>Add Listing</h4> <img src="../../assets/Imges/NavImg/Screenshot 2024-08-20 192117.png" alt=""></button></li>
    </ul>
</nav>
