<div class="body">
    <form [formGroup]="profileForm"> <!-- Bind the form -->
      <h3>Agent Information</h3>
      <div class="profile">
        <div class="imgRow">
          <img src='../../../assets/Imges/NavImg/man.png' alt="profileImg">
          <div class="text">
            <h4>{{profileInfo.profileName}}</h4>
            <p>Agent of Property</p>
          </div>
        </div>
        <div class="ngRow">
          <img src="../../../assets/Imges/Footer/FooterIcons/Location.svg" alt="location">
          <p>{{profileInfo.location}}</p>
        </div>
        <div *ngFor="let el of forNgRow" class="ngRow">
          <img [src]="el.imgLink" [alt]="el.alt">
          <a href="">{{el.text}}</a>
        </div>
      </div>
      <div class="form">
        <h1>Request Inquiry</h1>
        <input *ngFor="let inp of inputs" [type]="inp.type" [placeholder]="inp.placeholder" [formControlName]="inp.formControlName">
        <textarea class="resizable-textarea" name="Description" id="Description" placeholder="Message" formControlName="Message" e="text"></textarea>
        <button type="submit" (click)="onSubmit()" name="gagzavna">Submit Request</button>
      </div>
    </form>
  </div>
  