<main>
    <h2>3 Reviews</h2>
    <div class="commentsParent">
   <div class="comment" *ngFor="let el of Reviewinfo">
    <div class="row"><img src="{{el.ProfileimgLink}}" alt="Profile picture"> 
        <div class="col"><h3>{{el.name}}</h3> <p>{{el.date}}</p> </div>  
   <div class="stars">
       <span *ngFor="let star of getStarArray(el.review)"[ngClass]="{'filledStar': star.filled, 'emptyStar': !star.filled}" ></span></div>   </div> 
       <p class="description">{{el.description}}</p> 
       <div class="imgRow" *ngIf="el.postedimgesLinks.isimg"><img *ngFor="let img of el.postedimgesLinks.imgUrl" src="{{img}}" alt="reviewed picture"></div>
   </div>
    </div>
    <app-review-adder/>
</main>

