@use '../../../styles.scss' as *;

@keyframes fadeIn {
  0% {
    opacity: 0;
  top: -20px;
  }
  100% {
    opacity: 1;
  top: 0;
  }
}
::ng-deep app-nav nav {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}

::ng-deep .container .leftSide * h2 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
::ng-deep .container * main {
  border-radius: 6px;
  padding: 1.5rem;
  min-height: 40vh;
  background: #ffffff;
  position: relative;
  @include flex-container(column, flex-start, flex-start, 2rem);
  border: 1px solid #eaeff5;
  box-shadow: 0px 0px 2px #e7e7e7;
}
::ng-deep .container .rightSide h3:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;

  margin: 10px 0;
  border-bottom: 1px solid #eaeff5;
}
::ng-deep .container .rightSide h3 {
  width: 100%;
  color: #222;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

::ng-deep .container .leftSide * h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #ff385c;
  margin-top: 10px;
}

.container {
  overflow-x: hidden;
  background: #f5f7fb;
  width: 100%;
  min-height: 100vh;
  padding: 0 15%;
  padding-top: 150px;
  @include flex-container(row, center, flex-start, 50px);
  .leftSide {
    @include flex-container(column, center, center, 20px);
    width: 65%;
    > * {
      width: 100%;
      margin-bottom: 20px;
    }
    .description {
      width: 100%;
      padding: 1.5rem !important;
      background: #fff;
      border: 1px solid #eaeff5;
      box-shadow: 0px 0px 2px #e7e7e7 !important;
      border-radius: 2px;
      min-height: 20vh;
      margin-top: 30px;
      position: relative;
      @include flex-container(column, start, start, 35px);
      p {
        color: #666;
        font-weight: 400;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        line-height: 1.7;
      }
    }
  }
  .rightSide {
    width: 35%;
    @include flex-container(column, center, center, 20px);
    > * {
      width: 100%;
      margin-bottom: 20px;
    }

    app-profile {
      width: 100%;
    }
  }
}
@media screen and (max-width: 1268px) {


    .container {
      padding: 0 4%;
      padding-top: 100px;
      gap: 20px;
    }
  
}
@media screen and (max-width:1000px) {
  .container {
    padding: 0 3%;
    padding-top: 100px;
    gap: 20px;
  
  .leftSide {
    width: 90%;
  }
  .rightSide {
    display: none !important;
    width: 0;
    transition: 0.2s;
  }
  .icon{
    position: fixed;
    top: 50%;
    right: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 2px #cccccc;
    border-radius: 50%;
    z-index: 5;
    .arrows{
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .ActiveD{
      background-image:url('./../../../assets/Imges/StaticImg/StaticIcons/chevron-left.svg');
  
  
    }
    .exit{
  
      background-image:url('./../../../assets/Imges/StaticImg/StaticIcons/chevron-right.svg');
      z-index: 6;
  
    
    }
  }
  .actived{
    display: none;
  }
 
  .cover{
    z-index:3;
    opacity: 0;
    animation: fadeIn 0.2s forwards ease-in;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color:rgba(73, 73, 73, 0.441);
  }


.displayR{
  display: flex !important;
z-index: 4;
position: absolute;
transition: 1s;
right: 5px;
top: 17%;
background-color: #fff;
box-shadow: 0 0 2px #e7e7e7;
opacity: 1;
width: 360px;
}
  
  }
}

@media screen and (max-width:500px) {
  ::ng-deep .container * main {
    padding: 0.6rem;
  
  }
  .displayR{
z-index: 4;
position: absolute;
transition: 1s;
right: 1px;
top: 17%;
background-color: #fff;
box-shadow: 0 0 2px #e7e7e7;
opacity: 1;
width: 300px;
}



}
