/* You can add global styles to this file, and also import other style files */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    -webkit-user-select: none;
    -ms-user-select: none;
  
}
@keyframes opacity{
    0%{
        opacity: 1;
        top: 0px;
    }
    100%{
        top: -100%;
        opacity: 0.9;
        display: none;
    }
    
}
.cover{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(2, 2, 2);
    height: 99vh;
    background-image: url(../src/assets/Imges/Header/bg-h-1.jpg);
    background-size: cover;
    filter: brightness(0.7);
    z-index: 1;


}
.preLoader{
    z-index: 9999;
    position: fixed;
    top: 0;
    background-image: url(./assets/Imges/PreLoading/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    left: 0;
    width: 100%;
    height: 105%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}
.loaded{
 z-index: 99;
    position: fixed;
 
    background-image: url(./assets/Imges/PreLoading/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;

    
    width: 100%;
    height: 105%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity 1s forwards;
animation-delay:1s;
}
html, body { height: 100%; }
body 
{
     margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin flex-container($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
    display: flex !important;
    flex-direction: $direction !important;
    justify-content: $justify !important;
    align-items: $align !important;
    gap: $gap;
  }
  @mixin bodyFont(){
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #666;
  }