/* You can add global styles to this file, and also import other style files */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
  
}
.cover{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(2, 2, 2);
    height: 96vh;
    background-image: url(../src/assets/Imges/Header/bg-h-1.jpg);
    background-size: cover;
    filter: brightness(0.7);
    z-index: 1;


}
.preLoader{
    z-index: 9999;
    position: fixed;
    top: 0;
    background-image: url(./assets/Imges/PreLoading/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}