<main>
    <div class="topRow">
      <h2>Top Properties</h2>
      <div class="right"><span>Date Added</span> <span>Views</span> <span>Actions</span></div>
    </div>
  
    <div class="cardPage" *ngFor="let el of this.activePage">
      <div class="card">
        <div class="left"><img class="mainImg" src="{{el.imgLink}}" alt="">
          <div class="leftCol">
            <h3>
             {{ el.title}}</h3>
            <p>{{el.location}}</p>
            <div class="reviewRow">
              <div class="review" >   <span *ngFor="let star of getStarArray(el.review)" 
                [ngClass]="{'filledStar': star.filled, 'emptyStar': !star.filled}">
          </span>
          <span>({{ el.reviewedAmount }} Reviews)</span></div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="date">{{el.date}}</div>
          <div class="views">{{el.view}}</div>
          <div class="editor"> <button class="actions" [routerLink]="el.id">Edit</button> </div>
          <div class="remover"><button class="removeBtn "><img
            src="../../../assets/Imges/StaticImg/StaticIcons/trash.svg" alt=""></button></div>
        </div>
      </div>
      
    </div>
  
    <div class="bottomRow" ><button (click)="chosenPage((this.ActivePage-1))" class="prev">Previous</button>
  
  
        <button class="numbers" [ngClass]="{'active':i== this.ActivePage }"  (click)="chosenPage(i)" *ngFor="let i  of this.pageIndices">{{i}} </button> 
      
  
       <button class="prev" (click)="chosenPage((this.ActivePage+1))" >Next</button> </div>
  </main>