
@keyframes fadeIn{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
main{
    width: 70vw;
    min-height: 100%;
    background: #ffffff;
  
display: flex;
flex-direction: column;
justify-content: center;
gap: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #eaeff5;
    padding: 1rem;
    box-shadow: 0px 0px 2px #e7e7e7 ;
    .topRow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #f5f6ff;
       padding-right: 45px;
        .right{
        span{
            display: inline-block;
            width: 140px;
            text-align: center;
        }
       }
    }
    .cardPage{
        animation: fadeIn 1.5s;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        .card{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px 0px;
            border-bottom: 1px solid #f3f3f3;
            .left{
                display: flex;
                gap: 20px;
                align-items: center;
                .mainImg{
                    width: 130px;
                
                    border-radius: 4px;
               
                }
                .leftCol{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    h3{
                  
                        font-size: 16px;
                        color: #444;
                        text-decoration: none;
                        text-transform: capitalize;
                        font-weight: 600;
                    }
                    p{
                        font-size: 14px;
                        color: #333;
                    }
                .reviewRow{
                    margin-top: 10px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
              
                    .review{
                        display: flex;
                        gap: 3px;
                        align-items: center;
                        justify-content: center;  
                        .emptyStar{
                        background-image: url('../../../assets/Imges/StaticImg/StaticIcons/star.svg');
                        width: 13px;
                        height: 13px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin: unset;
                        }
                        .filledStar{
                            background-image: url('../../../assets/Imges/StaticImg/StaticIcons/star-fill.svg');
                            width: 13px;
                            height: 13px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            margin: unset;
                        }
                       
                    }
                    span{
                        font-size: 14px;
                        margin-left:15px;
                    }
                }
                }
                
      
            }
            .right{
                display: flex;
                align-items: center;
            
                div{
                    width: 160px;
                    text-align: center;
                }
                .remover{
                    width: 80px;
                    button{
            border: unset;
            background-color: unset;
            cursor: pointer;
     
        }
                }
                .editor{
                
                    width: 80px;
                    button{
                        background: unset;
                        border: unset;
                        cursor: pointer;
                        color: #008000;
                    }
                }
            }
        } 
     }
     .bottomRow{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        .prev{
            background-color: #FF385C;
            position: relative;
            z-index: 1;
            color: #fff;
            padding: 15px 20px;
            border: unset;
            border-radius: 4px;
        cursor: pointer;
        transition: 0.7s;
        }
        .prev:hover{
            background-color: #000000;
            transition: 0.3s;
            
        }
        .numbers{
         
            padding: 15px 20px;
            border: 1px solid #f3f3f3;
            color: #FF385C;
    cursor: pointer;
            border-radius: 4px;
            background: #fff;
transition: 0.7s;
        }
        .active{
      border: 1px solid rgb(85, 85, 252);
      
        }
        .numbers:hover{
            background-color: #FF385C;
            color: #fff;
            transition: 0.3s;
        }
     }
}