<main>
 <div class="topSide">
     <h4><span>Home</span>/Listings</h4>
     <h2>Grid View</h2>
 </div>
    <div class="HeaderSearch">
        <form action="">
            <input type="text" placeholder="{{staticElements.KayWord}}" >
         

        
                <select name="property Type" id="">
                    <option value="0">{{staticElements.propertyType}}</option>
                    <option value="1">family house</option>
                    <option value="2">Apartment</option>
                </select>
           
         
            <select name="location">
                <option value="0">{{staticElements.location}}</option>
            </select>
         
        <button class="advanceS"><h5>{{staticElements.Advanced}}</h5><img src="../../../assets/Imges/StaticImg/StaticIcons/ellipsis-three-vertical-squares-menu-interface-symbol-svgrepo-com.svg" alt="three dots"></button>
        <button class="submit" type="submit">{{staticElements.Search}}</button>
        </form>
        
    </div>
   <div class="bottomLine">
    <h4>{{length}} search resoult</h4>
    <div class="Sorting"(click)="showOptions()"><img src="../../../assets/Imges/StaticImg/StaticIcons/align-left-solid.svg" alt="icon"><h3>SORTBY:</h3>
        <div class="options" *ngIf="options" ></div>
        <div class="sorter"   > <p>Top Selling</p> <img  [ngClass]="{'rotate':this.options}"  src="../../../assets/Imges/NavImg/downArrow-removebg-preview.png" alt="">
                  <button><img src="../../../assets/Imges/StaticImg/StaticIcons/list-solid.svg" alt=""></button>
                   <button style="background-color: black"><img  src="../../../assets/Imges/StaticImg/StaticIcons/table-cells-large-solid.svg" alt=""></button>    </div>
    </div>
   </div>
</main>
