<div class="FormParent"  >
    <form class="form1" [formGroup]="listingForm" >
        <h3 class="header">Property Description And Price</h3>

        <div class="text">

            <div class="LabledInputs"  >
                <label for="title">Property title</label>
                <input type="text" name="title" id="title" placeholder="Enter your property title"  formControlName="satauri">
            </div>
            <div class="LabledInputs">
                <label for="Description">Property title</label>
                <textarea class="resizable-textarea" type="text" name="Description" id="Description" placeholder="Describe about Your Property"  formControlName="agwera"></textarea>
                </div>
                <div class="selectRow"><select   id="Status"  formControlName="statusi">  <option value="" disabled selected hidden>Select Status</option> <option value="Rent">Rent</option><option value="Sale">Sale</option> </select> 
                    <select  id="Type"  formControlName="types"><option value="" disabled selected hidden>Types</option> 
                        <option value="House">House</option><option value="Comercial">Comercial</option> <option value="apartment">apartment</option> <option value="garage">garage</option></select> 
                    <select  id="Rooms"  formControlName="otaxebi"><option value="" disabled selected hidden>Rooms</option>
                    <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                    </select>
                 </div>
                 <div class="row">

                     <div class="LabledInputs">
                         <label for="price">Price</label>
                         <input type="text"  formControlName="fasi" name="price" id="price" placeholder="USD">
                        </div>
                        <div class="LabledInputs">
                            <label for="area">Area</label>
                            <input type="text"  formControlName="area" name="area" id="area" placeholder="sqft">
                        </div>
                    </div>
        </div>
    
    </form>
    <form class="form2" [formGroup]="listingForm">
        <h3 class="header">Property medea</h3>
 <input type="file" id="file" (change)="onFileChange($event)" accept="image/*"  >
        <label for="file"><img src="../../../assets/Imges/StaticImg/StaticIcons/cloud-arrow-up-fill.svg" alt=""><p>click Hare Or Drop Files To Upload</p></label>
    <div class="imgrow"><img src="{{img}}" *ngFor="let img of imgRowlink" alt=""></div>
    </form>
    <form class="form3" [formGroup]="listingForm">
        <h3 class="header">Property location</h3>
       
            <div class="text">
 <div class="flexWrap">
                <div class="LabledInputs" *ngFor="let element of form3Info">
                    <label for={{element.id}}>{{element.HeaderName}}</label>
                    <input type="text" formControlName="{{element.formControlName}}" name={{element.id}} id={{element.id}} placeholder={{element.placeHolder}}>
                </div>
             
            </div>
         </div>
       
    </form>
    <form class="form4" [formGroup]="listingForm">
        <h3 class="header">Extra Information</h3>
        <div class="text">
            <div class="selectRow">

                <select *ngFor="let form4 of form4Info" id={{form4.id}} formControlName="{{form4.formControlName}}"  ><option value="" disabled selected hidden>Select {{form4.firstOption}}</option>
                    <option *ngFor="let option of form4.options" value="{{option}}">{{option}}</option>
                </select>
            </div>
        </div>
    </form>
    <form class="form5" [formGroup]="listingForm">
        <h3 class="header">Property Features</h3>
        <div class="text">

            <div class="flexWrap">
                <div class="row" *ngFor="let el of form5Info"><input type="checkbox" formControlName="{{el.formControlName}}" id="{{el.id}}" name="{{el.id}}"> <label for="{{el.id}}">{{el.text}}</label></div>
            </div>
        </div>
        
    </form>
    <form class="form6 form3" [formGroup]="listingForm">
        <h3 class="header">Contact Information</h3>
             
        <div class="text">
            <div class="flexWrap">
                           <div class="LabledInputs" *ngFor="let element of form6Info">
                               <label for={{element.id}}>{{element.HeaderName}}</label>
                               <input type="text" formControlName="{{element.formControlName}}"  name={{element.id}} id={{element.id}} placeholder={{element.placeHolder}}>
                           </div>
                        
                       </div>
                    </div>
                    <button type="submit" (click)="onSubmit()">Submit Property</button>
    </form>
</div>